<div id="content" ng-controller="clientCtrl" ng-init="initUserConfirmation()">
<div class="entryHeader">
 <h3> {{headerName}} </h3>
</div>
<div class="entryBlkArea">
<div class="formItemBlock">
	<div class="formItem">
		<label> Client Name </label>
		<span> {{form.name}}  </span>
	</div>

	<div class="formItem">
		<label> Client Id </label>
		<span> {{form.clientId}}  </span>
	</div>

	<div class="formItem">
		<label> UID Type </label>
		<span> {{form.uidType}}  </span>
	</div>

	<div class="formItem">
		<label> UID Number </label>
		<span> {{form.uidNumber}}  </span>
	</div>

	<div class="formItem">
		<label> Date Of Birth </label>
		<span> {{form.dt}}  </span>
	</div>

	<div class="formItem">
		<label> IP Address </label>
		<span> {{form.ipAddress}} </span>
	</div>

	<div class="formItem">
		<label> MAC Address </label>
		<span>{{form.macAddress}}</span>
	</div>

</div>
</div>
<div class="entryFooter">

<my-back-btn btn-link="/cEntry" btn-name="BACK" > </my-back-btn>
<my-confirm-btn btn-link="/confirmForm" btn-name="CONFIRM" > </my-confirm-btn>

</div>
</div>



