<div class="loginBox">
	<form class="form-signin" method="post" ng-submit="login.login()">
		<h2 class="login-label"> Next Generation </h2>
		<div>
			<!-- <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span> -->
			<input type="text" name="username" placeholder="User Name" ng-model="login.userName" class="form-input">
		</div>

		<div>
			<input type="password" name="password" placeholder="Password" ng-model="login.userPassword" class="form-input">
		</div>

		<div class="login-btn">
			<input type="submit" name="LogIn" class="btn btn-lg btn-primary btn-block">
			<br/>
			Log in with :
			
			<a class="btn btn-social-icon btn-facebook" ng-click="authenticate('facebook')">
            	<span class="fa fa-facebook"></span>
    		</a>
		</div>

	</form>

	
	
	
</div>

